@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    // transition: all 2.4s ease;
}
body{
    background-color: #0a1526;
}
.container{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}