@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #0a1526;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
header .navbar .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
header .navbar .logo h3 {
  font-size: 18px;
  color: #3B82F6;
}
header .navbar .navbar_menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 18px;
  gap: 3rem;
}
header .navbar .navbar_menu ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
header .navbar .navbar_button button {
  padding: 14px 1.5rem;
  font-size: 16px;
  border-radius: 7px;
  color: #FFFFFF;
  background-color: #3B82F6;
  border: none;
  transition: all 0.6s ease;
}
header .navbar .navbar_button button:hover {
  box-shadow: -2px 0px 57px 35px rgba(43, 127, 191, 0.2);
  border-block-color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}
header .navbar #menu {
  display: none;
}

@media screen and (max-width: 600px) {
  header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    width: 99%;
  }
  header .navbar .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-left: 10px;
  }
  header .navbar .logo img {
    width: 40px;
  }
  header .navbar .logo h3 {
    font-size: 15px;
    color: #3B82F6;
  }
  header .navbar .navbar_menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    display: none;
    font-size: 18px;
    gap: 3rem;
  }
  header .navbar .navbar_menu ul li a {
    color: #FFFFFF;
    text-decoration: none;
  }
  header .navbar .navbar_button button {
    padding: 14px 1.5rem;
    font-size: 16px;
    border-radius: 7px;
    color: #FFFFFF;
    background-color: #3B82F6;
    border: none;
    display: none;
  }
  header .navbar #menu {
    display: block;
    color: #FFFFFF;
    font-size: 2rem;
  }
}
.hero {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero img {
  margin-right: -10rem;
}
.hero .hero_box h3 {
  font-size: 16px;
  color: #3B82F6;
  margin-bottom: 1rem;
}
.hero .hero_box h1 {
  font-size: 49px;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
.hero .hero_box p {
  font-size: 18.3px;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
.hero .hero_button .btn {
  padding: 14px 19px;
  font-size: 17px;
  font-weight: 600;
  background-color: #3B82F6;
  border: none;
  color: #FFFFFF;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.hero .hero_button .btn:hover {
  box-shadow: -2px 0px 57px 35px rgba(43, 127, 191, 0.2);
  border-block-color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}
.hero .hero_button .btn:active {
  transform: translateY(4px);
}
.hero .hero_button .btn1 {
  padding: 14px 19px;
  font-size: 17px;
  font-weight: 600;
  background-color: #3B82F6;
  border: none;
  color: #FFFFFF;
  border-radius: 6px;
  margin-left: 1rem;
  transition: all 0.3s ease;
}
.hero .hero_button .btn1:hover {
  box-shadow: -2px 0px 57px 35px rgba(43, 127, 191, 0.2);
  border-block-color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}
.hero .hero_button .btn1:active {
  transform: translateY(4px);
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  box-shadow: -2px 0px 57px 35px rgba(43, 127, 191, 0.2);
  border-block-color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}
button:active {
  transform: translateY(4px);
}

@media screen and (max-width: 600px) {
  .hero {
    margin-top: 4rem;
    flex-direction: column-reverse;
    width: 92%;
  }
  .hero img {
    width: 100%;
    margin-right: 0;
  }
  .hero .hero_box {
    margin-top: 4rem;
  }
  .hero .hero_box h3 {
    font-size: 16px;
    color: #3B82F6;
    margin-bottom: 1rem;
  }
  .hero .hero_box h1 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 1rem;
  }
  .hero .hero_box p {
    font-size: 13.3px;
    color: #FFFFFF;
    margin-bottom: 1rem;
  }
  .hero .hero_button {
    flex-direction: column;
  }
  .hero .hero_button .btn {
    padding: 14px 19px;
    font-size: 17px;
    font-weight: 600;
    background-color: #3B82F6;
    border: none;
    color: #FFFFFF;
    border-radius: 6px;
    transition: all 0.3s ease;
    width: 70%;
    margin-bottom: 1rem;
  }
  .hero .hero_button .btn:hover {
    box-shadow: -2px 0px 57px 35px rgba(43, 127, 191, 0.2);
    border-block-color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
  }
  .hero .hero_button .btn:active {
    transform: translateY(4px);
  }
  .hero .hero_button .btn1 {
    padding: 14px 19px;
    font-size: 17px;
    font-weight: 600;
    background-color: #3B82F6;
    border: none;
    color: #FFFFFF;
    border-radius: 6px;
    margin-left: 0rem;
    transition: all 0.3s ease;
    width: 70%;
  }
  .hero .hero_button .btn1:hover {
    box-shadow: -2px 0px 57px 35px rgba(43, 127, 191, 0.2);
    border-block-color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
  }
  .hero .hero_button .btn1:active {
    transform: translateY(4px);
  }
}
.scrolling_icon {
  margin-top: 4rem;
  overflow: hidden;
  padding: 20px 0;
}
.scrolling_icon .scroll_track {
  display: flex;
  gap: 50px;
  width: max-content;
  animation: scrollIcon 20s linear infinite;
  align-items: center;
}
.scrolling_icon img {
  height: 60px;
  width: auto;
  opacity: 0.8;
  transition: transform 0.3s ease;
}
.scrolling_icon img:hover {
  transform: scale(1.1);
  opacity: 1;
}

@keyframes scrollIcon {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*# sourceMappingURL=style.css.map */
